In [1]:
#Learning and practicing Pandas

import pandas as pd
import numpy as np

In [26]:
list = [56,89,4,5,4]
series = pd.Series(list) #Converting a list to series
series

0    56
1    89
2     4
3     5
4     4
dtype: int64

In [33]:
index = ['A', 'B', 'C', 'D', 'E']
series2 = pd.Series(list, index) #Giving custom indexes
series2

A    56
B    89
C     4
D     5
E     4
dtype: int64

In [35]:
series2['B']

np.int64(89)

In [36]:
cars = {    #Converting a dictionary into a series
    "tesla": 12,
    "Bugatti": 2,
    "Rolls Royce": 1
}
series3 = pd.Series(cars)
series3

tesla          12
Bugatti         2
Rolls Royce     1
dtype: int64

In [37]:
series3["Bugatti"]

np.int64(2)