In [1]:
import pandas as pd
import numpy as np

In [2]:
my_df = pd.read_csv('music.csv')
my_df

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz
5   30       1    Jazz

In [3]:
my_df == 'HipHop'

     age  gender  genre
0  False   False   True
1  False   False   True
2  False   False   True
3  False   False  False
4  False   False  False
5  False   False  False

In [4]:
my_df[my_df == 'HipHop']

   age  gender   genre
0  NaN     NaN  HipHop
1  NaN     NaN  HipHop
2  NaN     NaN  HipHop
3  NaN     NaN     NaN
4  NaN     NaN     NaN
5  NaN     NaN     NaN

In [5]:
 my_df[my_df == 'HipHop']['genre'] #Only return the column

0    HipHop
1    HipHop
2    HipHop
3       NaN
4       NaN
5       NaN
Name: genre, dtype: object

In [8]:
my_df[(my_df['genre'] == 'HipHop') & (my_df['age'] == 23)] #Example of multiple conditions with & operator

   age  gender   genre
1   23       1  HipHop

In [9]:
my_df[(my_df['genre'] == 'HipHop') | (my_df['age'] == 23)] #Example of multiple conditions with | operator

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop

In [11]:
my_df[(my_df['genre'] == 'HipHop') & (my_df['age'] == 23)]['age'] #Returning only the specific element

1    23
Name: age, dtype: int64