In [1]:
import pandas as pd
import numpy as np

In [2]:
my_df = pd.read_csv('music.csv')
my_df

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz
5   30       1    Jazz

In [4]:
my_df.loc[2]  #To grab specific row

age           25
gender         1
genre     HipHop
Name: 2, dtype: object

In [5]:
my_df.loc[3, "genre"]  #To grab a specific point

'Jazz'

In [7]:
my_df.loc[[0, 4], ['genre', 'age']]  #To grab a subset the code will be like this

    genre  age
0  HipHop   20
4    Jazz   29